@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(244, 244, 237);
}

.title {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.realtime-monitor {
  margin-top: 30px;
  /* Align Picture to be in the middle */
  display: flex;
  justify-content: center;
}

.ResultContainer {
  display: flex;
  justify-content: center; 
  background-color: rgb(214, 222, 233);
  padding: 10px 0px;
  margin: 40px 20%;
  border-radius: 20px;

  /* When using mobile device it will wrap อันที่เกินไปอีกแถว */
  flex-wrap: wrap;
}

.Result-Detected {
  display: flex;
  text-align: center;
  font-size: 20px;
  margin: 30px 50px;
  background-color: rgb(214, 222, 233);
}

.Result-Detected-Detail-Name {  
  background-color: rgb(153, 195, 250);
  border: 0;
  border-radius: 10px 0px 0px 10px;
  padding: 20px 10px;
}

.Result-Detected-Detail-Value {
  border: 0;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 30px;
  /* margin: 0px 20px; */
}
